pre {
    white-space: pre-wrap;
}
div {
    display: block;
}

body {
    margin: 0;
    font-family: SÃ¶hne,helvetica,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.cs-message-list {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 1.25em;
    position: relative;
    background-color: #383D3B;
    border-radius: 20px;
    max-width: 750px;
    display: block;
    margin: 20px;

}
.chat-container {
    /*width: 80%;*/
    max-width: 800px; /* Set a maximum width if desired */
    margin: 30px auto;
    background-color: #BEB0A7;
    border-radius: 20px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 80vh; /* Set a percentage height */
}

.main-container {
    width:90%;
    max-width: 800px; /* Set a maximum width if desired */
    margin: 10px auto;
    border-radius: 10px;
    display: block;
    flex-direction: column;
    height: 80vh; /* Set a percentage height */
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.button-drawer {
    left: 5%;
    font-family: SÃ¶hne,helvetica,sans-serif;
    background-color: white;
}

.typing-indicator {
    padding: 38px;
    align-self: flex-end;
}

.cs-message-input {
    border: 0 solid #d1dbe4;
    border-top: #BEB0A7;
    width: 100%;
    /*margin-top: 10 px auto;*/
    padding: 0.3em 0;
    color: rgba(0,0,0,.87);
    background-color: #BEB0A7;
    /*margin: 10px;*/
    padding-left: 20px;
    padding-bottom: 10px;
}

.cs-message-input__content-editor-wrapper {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    margin: 0;
    padding: 0.6em 0.9em;
    border-radius: 0.7em;
    flex-grow: 1;
}
.cs-message-input__tools .cs-button {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}
.cs-message-input__content-editor-container {
    box-sizing: border-box;
    position: relative;
    background-color: #c6e3fa;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    overflow-y: auto;
    font-size: .94em;
    line-height: 1.35em;
    min-height: 1.35em;
    max-height: 5.4em;
    padding: 0;
    scroll-padding: 0;
}

.cs-message-input__content-editor {
    box-sizing: border-box;
    flex-grow: 1;
    background-color: white;
    font-family: SÃ¶hne,helvetica,sans-serif;
    outline: 0;
    border: 0;
    overflow: visible;
    color: rgba(0,0,0,.87);
    overflow-wrap: anywhere;
    word-break: break-word;
}

.cs-message--outgoing .cs-message__content {
    color: #383D38;
    font-family: SÃ¶hne,helvetica,sans-serif;
    background-color: #36E1F8;
    border-radius: 0.7em 0 0 0.7em;
    font-size: 16px;
}

.cs-message--incoming .cs-message__content {
    color: #383D38;
    font-size: 16px;
    font-family: SÃ¶hne,helvetica,sans-serif;
    background-color: #9CEC5B;
    border-radius: 0.7em 0 0 0.7em;
}

.cs-button--send {
    color: white;
    background-color: transparent;
    transform: rotate(50deg);
    padding-left: 5px;
}